<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body style="margin:0;padding:0;font-family:sans-serif;font-size: 130%;width:100%">

    <div style="margin:0; padding: 30px 0px 0px 30px; display:inline-block; background: #333333; width:100%; height: 100px;">
      <a href="/" style="text-decoration: none; color: white;">
	<img src="/assets/header_mike.jpg" width=76 height=79/>
	<span style="font-size: 200%; vertical-align: 0.5em;">
	  Order of the Wagdog
	</span>
      </a>
    </div>

    <div style="padding: 0px 30px 0px 30px; margin: 0; display: inline-block;
		background: white;">
      <div style="background: #eeeeee; display: inline-block; padding: 2em;">
	{{ content }}
      </div>
    </div>

    <div style="width:100%; height: 100px; background: #333333; color: white; margin:0;
box-shadow: 0px 500px 0px 500px #333333; display: inline-block; padding: 0 2em 0 2em;">
      <p>Thank you for visiting</p>
      <p>The Order of the Wagdog hopes you had a good time.</p>
      <p>His Holiness Lord Wagner wishes you a wonderful day.</p>
    </div>

  </body>
</html>
